

.card > img{
    position: relative;
    float: left;
    height: 50px;
    width: 10%
}

.card{
    position: relative;
    display: block;
    width: 75%;
    left: 10%;
}

.banner{
    text-align: center;
}

